.page.theme_dark {
  --main-font-family: 'IBM Plex mono', monospace;
  --accent-color: #ff0070;
  --main-title-color: #dB00ff;
  --section-title-color: #000028;
  --text-color: #f1b2ce;
  --page-background-color: #000126;
  --accent-shadow: 4px 4px 0 var(--accent-color);
  --navigation-button-color: #ff0070;
  --header-background-image: url('../images/cover-image-dark.png');
  --recording-text-color: #ff0070;
}