/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font-family: "IBM Plex mono";
  --accent-color: #ff0070;
  --main-title-color: #dB00ff;
  --section-title-color: #000028;
  --text-color: #f1b2ce;
  --page-background-color: #000126;
  --accent-shadow: 4px 4px 0 var(--accent-color);
  --navigation-button-color: #ff0070;
  --header-background-image: url('./images/cover-image-dark.png');
  --recording-text-visibility: "REC";
}
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

