.page.theme_light {
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --section-title-color: #353430;
  --text-color: #353430;
  --page-background-color: #fdf1f7;
  --navigation-button-color: rgb(53, 52, 48);
  --hover-navigation-button-color: rgba(50, 49, 45, 0.4);
  --header-background-image: url('../images/cover-image-light.png');
  --recording-text-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --section-title-color: #353430;
    --text-color: #353430;
    --page-background-color: #fdf1f7;
    --navigation-button-color: rgb(53, 52, 48);
    --hover-navigation-button-color: rgba(50, 49, 45, 0.4);
    --header-background-image: url('../images/cover-image-light.png');
    --recording-text-color: transparent;
  }
}