/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --section-title-color: #353430;
  --text-color: #353430;
  --page-background-color: #fdf1f7;
  --navigation-button-color: #353430;
  --head-background-image: url('../images/cover-image-light.png');
  --recording-text-color: transparent;
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --section-title-color: #353430;
    --text-color: #353430;
    --page-background-color: #fdf1f7;
    --navigation-button-color: #353430;
    --head-background-image: url('../images/cover-image-light.png');
    --recording-text-color: transparent;
  }
}

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */


