/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font-family);
  background-image: var(--head-background-image); 
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: relative;
  min-height: 668px;
  height: 100vh;
  width: 100%;
}

/* Header */

.decorated-zone {
  position: relative;
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    "theme-change"
    "header-title"
    "header-text";
}

.recording {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 18px;
  background-color: transparent;
  position: absolute;
}

.recording.head {
  border-top: 1px solid var(--navigation-button-color);
  border-right: 1px solid var(--navigation-button-color);
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.recording.head::before {
  content: ""; /*var(--recording-text-visibility);*/
  margin-right: 40px;
  color: var(--accent-color);
}

.recording.foot {
  border-bottom: 1px solid var(--navigation-button-color);
  border-left: 1px solid var(--navigation-button-color);
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.title-decor {
  grid-area: "header-title";
  align-self: center;
  margin-bottom: 10px;
}

.header__theme-menu {
  grid-area: theme-change;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-items: end;
  gap: 10px;
  list-style: none;
  box-sizing: border-box;
}

.header__theme-menu-button {
  border: none;
  color: var(--navigation-button-color);
  font-family: inherit;
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
  min-width: 70px;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--navigation-button-color);
  color: var(--navigation-button-color);
  font-family: inherit;
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
  min-width: 70px;
  min-height: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--navigation-button-color);

}

.title-decor {
  grid-area: header-title;
  align-self: end;
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text {
  display: inline;
  grid-area: header-text;
  align-self: center;
  color: var(--section-title-color);
  background-color: var(--accent-color);
  font-weight: var(--section-title-weight);
  line-height: 23.4px;
  font-size: 18px;
  max-height: 117px;
  padding-bottom: 10px;
}

/* Main body */

.main {
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px; 
  bottom: -10px;
  /*background-color: var(--page-background-color);*/
  z-index: -1; 
} 

.first-section {
  padding-block-start: 10px;
  margin-block-start: 10px;
}

.list-style-off {
  list-style: none;
  padding: 0;
}

.section-title {
  font-size: 18px;
  font-weight: var(--section-title-weight);
  color: var(--accent-color);
}

.section-subtitle {
  color: var(--section-title-color);
  background-color: var(--accent-color);
}

.article-title {
  color: var(--section-title-color);
  background-color: var(--accent-color);
}

.tip-style {
  font-weight: normal;
  line-height: 23.4px;
}

.article-text {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
} 

 .grid-container {
  display: grid;
  width: 100%;
  grid-template-areas: 
  "sunset" 
  "ice-cream" 
  "tape" 
  "books" 
  "street";
}

.grid-image {
  max-width: min(100%, 375px);
  align-self: center;
} 

 .footer {
  position: relative;
  height: 100vh;
  padding-block-start: 60px;
  background-color: var(--page-background-color);
  z-index: -1;
}

.footer-title {
  display: block;
} 

.footer-title-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
} 



